<div class="row">
    <div class="col-12">

        <img src="{{ packedSelected.imagePath }}" alt="{{ packedSelected.name }}" class="img-responsive" style="max-height: 300px;">

    </div>
</div>

<div class="rol">
    <div class="col-12">
        <h1>{{ packedSelected.name }}</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" appDropdown>
                Opções <span class="carret"></span>
            </button>
    
            <ul class="dropdown-menu">
                <li><a (click)="addToFoodList()">Adicionar à lista de alimentos</a></li>
                <li><a href="#">Editar Marmita</a></li>
                <li><a href="#">Remover Marmita</a></li>
            </ul>
        </div>
    </div>
    
</div>

<!-- Description -->
<div class="row">
    <div class="col-12">
        <p>{{ packedSelected.description }}</p>
    </div>
</div>

<!-- Ingredients -->
<div class="row">
    <div class="col-12">
        <p>Ingredientes</p>

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of packedSelected.ingredients">
                {{ ingredient.name }}
            </li>
        </ul>
    </div>
</div>
